.Dnd {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  label {
    width: 350px;
    box-sizing: border-box;
  }
  

  .dndBody {
    display: flex;
    justify-content: space-between;
  }
  .uploaderBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }

  .uploadButton {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }